<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>회원가입</title>
</head>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <th:block th:replace="admin/signupForm"></th:block>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var error = /*[[${error}]]*/ "";
            if (error != null && error != "") {
                alert(error);
            }
            /*]]>*/
        </script>
    </th:block>
</th:block>