<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
    <head>
        <title>FRAMES</title>
        <th:block th:replace="layout/commonHead"></th:block>
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <th:block th:if="${preloader}">
            <div class="preloader flex-column justify-content-center align-items-center">
                <img alt="logo" class="animation__shake" height="30" th:src="@{/images/logo.png}" width="240">
            </div>
        </th:block>

        <!-- Navbar -->
        <th:block th:replace="layout/navbar"></th:block>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <th:block th:replace="layout/sidebar"></th:block>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <th:block sec:authorize="isAnonymous()">
                <th:block th:if="${requireLogin == true}">
                    <th:block th:replace="admin/loginForm"></th:block>
                </th:block>
                <th:block th:if="${requireLogin == false}">
                    <th:block th:replace="${content}"></th:block>
                </th:block>
            </th:block>


            <th:block sec:authorize="isAuthenticated()">
                <!-- content -->
                <th:block th:replace="${content}"></th:block>
                <!-- /.content -->
            </th:block>
        </div>
        <!-- /.content-wrapper -->

        <!-- Footer Container -->
        <th:block th:replace="layout/footer"></th:block>
        <!-- /Footer Container -->

        <!-- Control Sidebar -->
        <th:block th:replace="layout/controlSidebar"></th:block>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    </body>
</th:block>
</html>