<!DOCTYPE html>
<html lang="en" th:with="requireLogin=true" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/adminLTE :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Member Modify Page</h1>

        <form action="/member/modify" method="post">
            <!--            <input type="hidden" th:name="${ _csrf.parameterName }" th:value="${ _csrf.token }">-->
            <!--페이지 번호  -->
            <input name="page" th:value="${requestDTO.page}" type="hidden">
            <input name="type" th:value="${requestDTO.type}" type="hidden">
            <input name="keyword" th:value="${requestDTO.keyword}" type="hidden">


            <div class="form-group">
                <label>Mno</label>
                <input class="form-control" name="mno" readonly th:value="${dto.mno}" type="text">
            </div>

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="name" th:value="${dto.name}" type="text">
            </div>
            <div class="form-group">
                <label>Phone</label>
                <textarea class="form-control" name="phone" rows="5">[[${dto.phone}]]</textarea>
            </div>
            <div class="form-group">
                <label>Image Count</label>
                <input class="form-control" name="imgCnt" readonly th:value="${dto.imageDTOList.size()}" type="text">
            </div>


        </form>

        <button class="btn btn-primary modifyBtn" type="button">Modify</button>

        <button class="btn btn-info listBtn" type="button">List</button>

        <button class="btn btn-danger removeBtn" type="button">Remove</button>

        <script th:inline="javascript">

            var actionForm = $("form"); //form 태그 객체

            $(".removeBtn").click(function () {

                if (!confirm("삭제하시겠습니까?")) {
                    return;
                }
                actionForm
                    .attr("action", "/member/remove")
                    .attr("method", "post");

                actionForm.submit();

            });

            $(".modifyBtn").click(function () {

                if (!confirm("수정하시겠습니까?")) {
                    return;
                }

                actionForm
                    .attr("action", "/member/modify")
                    .attr("method", "post")
                    .submit();
            });

            $(".listBtn").click(function () {

                //var pageInfo = $("input[name='page']");
                var page = $("input[name='page']");
                var type = $("input[name='type']");
                var keyword = $("input[name='keyword']");

                actionForm.empty(); //form 태그의 모든 내용을 지우고

                actionForm.append(page);
                actionForm.append(type);
                actionForm.append(keyword);


                actionForm
                    .attr("action", "/member/list")
                    .attr("method", "get");

                actionForm.submit();

            })

        </script>


    </th:block>

</th:block>
