<!DOCTYPE html>
<html lang="en" th:with="requireLogin=false" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>멤버등록</title>
    <style>
        .label-required:after {
            content: "*";
            color: #ff4242;
        }

        .image-preview {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 10px;
        }

        .image-item {
            position: relative;
            height: 128px;
            margin-right: 10px;
        }

        .image-item img {
            height: 128px;
        }

        .image-item .delete-item {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0;
            padding-left: 3px;
            padding-right: 3px;
            margin: 0;
            font-size: 9px;
        }
    </style>
</head>
<th:block th:replace="~{layout/adminLTE :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">멤버등록</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">member-register</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <section class="content">
            <div class="container-fluid">
                <form enctype="multipart/form-data" id="form" method="POST" name="form" novalidate
                      th:action="@{/member/register}">
                    <div class="mb-3">
                        <label class="form-label label-required" for="name">이름</label>
                        <input class="form-control" id="name" maxlength="30" minlength="2" name="name" placeholder="ex) 홍길동"
                               required type="text">
                        <div class="invalid-feedback">
                            2-30자 이내로 입력하세요.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label label-required" for="phone">전화번호</label>
                        <input class="form-control phoneNumber" id="phone" maxlength="13" name="phone"
                               pattern="\d{2,3}-\d{3,4}-\d{4}" placeholder="ex) 010-1234-5678" required type="text">
                        <div class="invalid-feedback">
                            전화번호 형식에 맞게 입력해주세요.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label label-required" for="image">이미지</label>
                        <input class="form-control" id="image" multiple="multiple" name="image" type="file">
                        <div class="invalid-feedback" id="imgfdb">
                            이미지를 등록해주세요.
                        </div>
                        <div class="image-preview">
                            <div class="image-item" th:if="${url}">
                                <img th:src="@{${'/image/' + url}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input class="btn btn-primary" type="submit" value="등록">
                    </div>
                    <div id="imgs"></div>
                </form>
            </div>
        </section>
        <script>

            (function () {
                "use strict";
                window.addEventListener("load", function () {
                    var form = document.getElementById("form");
                    form.addEventListener("submit", function (event) {
                        if (form.checkValidity() == false || getImageUrls().length == 0) {
                            event.preventDefault();
                            event.stopPropagation();
                            form.classList.add("was-validated");
                            if (getImageUrls().length == 0) {
                                $("#imgfdb")[0].classList.add("d-block");
                            } else {
                                $("#imgfdb")[0].classList.remove("d-block");
                            }
                        } else {
                            const imgs = getImageUrls();
                            clearFormImgs();
                            let str = ""
                            for (const img of imgs) {
                                str += '<input type="hidden" name="imgurl" value="' + img.replace(',', '') + '">';
                            }
                            $("#imgs").html(str);
                        }
                    }, false);
                }, false);
            }());

            $(document).on("keyup", ".phoneNumber", function () {
                $(this).val($(this).val()
                    .replace(/[^0-9]/g, "")
                    .replace(/(^02|^1[0-9]{3}|^0[0-9]{2})([0-9]+)?([0-9]{4})$/, "$1-$2-$3")
                    .replace("--", "-"));
            });

            function onClickDeleteItem(e) {
                e.preventDefault();
                $(this).parent().remove();
            }

            $("#image").on("change", function (e) {
                for (const file of e.target.files) {
                    const reader = new FileReader();
                    const previewDiv = $(".image-preview");
                    reader.onload = function (r) {
                        const $li = $('<div class="image-item"><img /><button type="button" class="btn btn-danger delete-item"><i class="fas fa-minus-circle"></i></button></div>')
                        $li.appendTo(previewDiv);

                        const $img = $li.find("img");
                        $img.attr("src", r.target.result);
                        $img.attr("data-file", file.name);

                        $li.find(".delete-item").on("click", onClickDeleteItem);
                        if (getImageUrls().length > 3) {
                            previewDiv.find(".delete-item").first().click();
                        }
                    };
                    reader.readAsDataURL(file);
                }
                $(this).val('')
                $(this).empty()
            });

            function getImageUrls() {
                const parent = document.getElementsByClassName('image-preview')[0];
                const lis = parent.getElementsByTagName('img');
                const res = []
                for (i = 0, l = lis.length; i < l; i++) {
                    res.push(lis[i].getAttribute('src'));
                }
                return res;
            }

            function clearFormImgs() {
                $(".form").find("input[type=hidden]").remove();
            }
        </script>
    </th:block>
</th:block>
