<!DOCTYPE html>
<html lang="ko" th:with="requireLogin=true" xmlns:th="http://www.thymeleaf.org">
<!--datetimepicker bootstrap-->

<head>
    <title>입퇴장조회</title>
    <link rel="stylesheet" th:href="@{/css/status/list.css}" type="text/css">
    <style>
        .mno {
            background-color: #dccceb !important;
        }
    </style>
</head>

<th:block th:replace="~{layout/adminLTE :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">입퇴장조회</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">st-list</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <div aria-hidden="true" aria-labelledby="member-modal-title" class="modal fade" id="member-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="member-modal-title">멤버 조회</h5>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <input class="form-control" id="member-search" placeholder="이름을 입력하세요 ex) 홍길동">
                        </div>

                        <div class="overflow-auto" style="height: 640px">
                            <table class="table table-striped table-hover" id="member-table">
                                <thead>
                                <colgroup>
                                    <col style="width:20%">
                                    <col style="width:30%">
                                    <col style="width:50%">
                                </colgroup>

                                <tr>
                                    <th>멤버번호</th>
                                    <th>이름</th>
                                    <th>전화번호</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="memberRow" th:each="member: ${members}">
                                    <td>[[${member.mno}]]</td>
                                    <td>[[${member.name}]]</td>
                                    <td>[[${member.phone}]]</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="facility-modal-title" class="modal fade" id="facility-modal"
             tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="facility-modal-title">시설 조회</h5>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <input class="form-control" id="facility-search" placeholder="시설명을 입력하세요 ex) E동">
                        </div>

                        <div class="overflow-auto" style="height: 640px">
                            <table class="table table-striped table-hover" id="facility-table">
                                <thead>
                                <colgroup>
                                    <col style="width:20%">
                                    <col style="width:80%">
                                </colgroup>

                                <tr>
                                    <th>시설번호</th>
                                    <th>이름</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="facilityRow" th:each="facility: ${facilities}">
                                    <td>[[${facility.bno}]]</td>
                                    <td>[[${facility.building}]]</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="overlapped-members-modal-title" class="modal fade" id="overlapped-members-modal"
             tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="overlapped-members-modal-title">접촉가능자 목록</h5>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <div class="overflow-auto" style="height: 640px">
                            <table class="table table-striped table-hover" id="overlapped-members-table">
                                <thead>
                                <colgroup>
                                    <col style="width:20%">
                                    <col style="width:30%">
                                    <col style="width:50%">
                                </colgroup>

                                <tr>
                                    <th>멤버번호</th>
                                    <th>이름</th>
                                    <th>전화번호</th>
                                </tr>
                                </thead>

                                <tbody id="overlapped-members">
                                    <!-- TODO: 선택된 로그와 같은 시간, 공간에 있었던 멤버 목록 조회 -->
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">닫기</button>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <form action="/st/list" id="searchForm" method="get">
                    <div class="input-group">
                        <input name="page" type="hidden" value="1">
                        <span class="container" id="date-span-id" style="margin:0px; text-align: left;">
                    <div class="table-filter">
                        <div class="table-filter-group">
                            <div class="filter-group">
                                <label style="width: 80px">시설번호</label>
                                <div class="input-group d-inline">
                                    <input class="form-control" id="filterBuildingNo" name="keyword"
                                           style="width: 200px" th:value="${pageRequestDTO.keyword}" type="text">
                                    <button class="btn btn-outline-primary btn-sm" data-bs-target="#facility-modal" data-bs-toggle="modal"
                                            type="button">검색</button>
                                </div>
                            </div>
                            <div class="filter-group">
                                <label style="width: 80px">멤버번호</label>
                                <div class="input-group d-inline">
                                    <input class="form-control" id="filterMemberNo" name="mno" style="width: 200px"
                                           th:value="${pageRequestDTO.mno}" type="text">
                                    <button class="btn btn-outline-primary btn-sm" data-bs-target="#member-modal" data-bs-toggle="modal"
                                            type="button">검색</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-filter-group">
                            <div class="filter-group">
                                <label style="width: 80px">날짜(from)</label>
                                <input class="form-control" id="filterDateFrom" name="from" style="width: 200px"
                                       th:value="${pageRequestDTO.from}" type="date">
                            </div>
                            <div class="filter-group">
                                <label style="width: 80px; margin-left: 58px">날짜(to)</label>
                                <input class="form-control" id="filterDateTo" name="to" style="width: 200px"
                                       th:value="${pageRequestDTO.to}" type="date">
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-outline-secondary btn-search" type="button"><i
                            class="fa fa-search"></i> 검색</button>
                    <button class="btn btn-outline-secondary btn-clear" type="button">초기화</button>
                </span>
                    </div>
                </form>

                <!-- TABLE 멤버id, 시설id, 입장로그번호, 퇴장로그번호, 입장시간, 퇴장시간 -->
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">이름(멤버ID)</th>
                        <th scope="col">시설(시설ID)</th>
                        <th scope="col">입장 시간</th>
                        <th scope="col">퇴장 시간</th>
                        <th scope="col">입장 체온</th>
                        <th scope="col">퇴장 체온</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="accessSet, index : ${result.getDtoList()}" onclick="onClickAccessSet(this);">
                        <input class="mno" th:value="${accessSet.memberId}" type="hidden"/>
                        <input class="memberId" th:value="${accessSet.memberId}" type="hidden"/>
                        <input class="memberName" th:value="${accessSet.memberName}" type="hidden"/>
                        <input class="facilityId" th:value="${accessSet.facilityId}" type="hidden"/>
                        <input class="facilityName" th:value="${accessSet.facilityName}" type="hidden"/>
                        <input class="statusEnterId" th:value="${accessSet.statusEnterId}" type="hidden"/>
                        <input class="statusLeaveId" th:value="${accessSet.statusLeaveId}" type="hidden"/>
                        <input class="temperatureEnter" th:value="${accessSet.temperatureEnter}" type="hidden"/>
                        <input class="temperatureLeave" th:value="${accessSet.temperatureLeave}" type="hidden"/>
                        <input class="timeEnter" th:value="${accessSet.timeEnter}" type="hidden"/>
                        <input class="timeLeave" th:value="${accessSet.timeLeave}" type="hidden"/>

                        <td>[[(${pageRequestDTO.page}-1)*10+${index.count}]]</td>
                        <td th:text="|${accessSet.memberName}(${accessSet.memberId})|"></td>
                        <td th:text="|${accessSet.facilityName}(${accessSet.facilityId})|"></td>
                        <td th:text="${#temporals.format(accessSet.timeEnter, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${#temporals.format(accessSet.timeLeave, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="|${accessSet.temperatureEnter}|"></td>
                        <td th:text="|${accessSet.temperatureLeave}|"></td>

                    </tr>

                    </tbody>
                </table>

                <ul class="pagination h-100 justify-content-center align-items-center">

                    <li class="page-item " th:if="${result.prev}">
                        <a class="page-link" tabindex="-1" th:href="@{/st/list(page= ${result.start -1},
                    from=${pageRequestDTO.from},
                    to=${pageRequestDTO.to},
                    keyword = ${pageRequestDTO.keyword},
                    mno = ${pageRequestDTO.mno})}">Previous</a>
                    </li>

                    <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                        <a class="page-link" th:href="@{/st/list(page = ${page} ,
                    from=${pageRequestDTO.from},
                    to=${pageRequestDTO.to},
                    keyword = ${pageRequestDTO.keyword},
                    mno = ${pageRequestDTO.mno})}">
                            [[${page}]]
                        </a>
                    </li>

                    <li class="page-item" th:if="${result.next}">
                        <a class="page-link" th:href="@{/st/list(page= ${result.end + 1} ,
                    from=${pageRequestDTO.from},
                    to=${pageRequestDTO.to},
                    keyword = ${pageRequestDTO.keyword},
                    mno = ${pageRequestDTO.mno})}">Next</a>
                    </li>
                </ul>
            </div>
        </section>

        <script>
            function onClickAccessSet(element) {
                const memberId = element.querySelector(".memberId").value;
                const memberName = element.querySelector(".memberName").value;
                const facilityId = element.querySelector(".facilityId").value;
                const facilityName = element.querySelector(".facilityName").value;
                const statusEnterId = element.querySelector(".statusEnterId").value;
                const statusLeaveId = element.querySelector(".statusLeaveId").value;
                const temperatureEnter = element.querySelector(".temperatureEnter").value;
                const temperatureLeave = element.querySelector(".temperatureLeave").value;
                const timeEnter = element.querySelector(".timeEnter").value;
                const timeLeave = element.querySelector(".timeLeave").value;

                const data = {
                    memberId,
                    memberName,
                    facilityId,
                    facilityName,
                    statusEnterId,
                    statusLeaveId,
                    temperatureEnter,
                    temperatureLeave,
                    timeEnter,
                    timeLeave
                }

                console.log(data);

                $.ajax({
                    url: '/st/overlapped',
                    data: data,
                    type: 'GET',
                    success: function (result) {
                        console.log(result);

                        const overlappedMembers = $("#overlapped-members");
                        overlappedMembers.empty();
                        result.map(member => {
                            const memberElement = $(`<tr class='overlapped-member'><td>${member.mno}</td><td>${member.name}</td><td>${member.phone}</td></tr>`);
                            overlappedMembers.append(memberElement);
                        })

                        $('#overlapped-members-modal').modal('show');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus);
                    }
                });
            }
        </script>

        <script>
            const memberRows = [].slice.call(document.querySelectorAll(".memberRow"));

            $('#member-search').on('propertychange change keyup paste input', function () {
                let qsVal = $('#member-search').val().toLowerCase();
                memberRows.forEach(el => {
                    if (el.cells[1].innerText.toLowerCase().startsWith(qsVal) || qsVal.length == 0) {
                        el.classList.remove("d-none");
                    } else {
                        el.classList.add("d-none");
                    }
                });
            })

            $('.memberRow').on('click', function () {
                const mno = $(this)[0].cells[0].innerText;
                $('#member-modal').modal('toggle');
                $('#filterMemberNo').val(mno);
            });
        </script>

        <script>
            const facilityRows = [].slice.call(document.querySelectorAll(".facilityRow"));

            $('#facility').on('propertychange change keyup paste input', function () {
                let qsVal = $('#facility-search').val().toLowerCase();
                facilityRows.forEach(el => {
                    if (el.cells[1].innerText.toLowerCase().startsWith(qsVal) || qsVal.length == 0) {
                        el.classList.remove("d-none");
                    } else {
                        el.classList.add("d-none");
                    }
                });
            })

            $('.facilityRow').on('click', function () {
                const bno = $(this)[0].cells[0].innerText;
                $('#facility-modal').modal('toggle');
                $('#filterBuildingNo').val(bno);
            });
        </script>

        <script th:inline="javascript">

            (function () {
                "use strict";
                window.addEventListener("load", function () {
                    const mno = getUrlParam("mno");
                    if (mno != undefined) {
                        const childs = [].slice.call(document.getElementsByClassName("mno"));
                        childs.filter(e => e.value == mno).map(e => {
                            e.parentElement.classList.add("mno");
                        });
                    }
                }, false);
            }());

            function getUrlParam(name) {
                var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
                return (results && results[1]) || undefined;
            }

            $('.btn-search').click(function (e) {
                searchForm.submit();
            });

            $('.btn-clear').click(function (e) {
                window.location.href = "/st/list"
            });

        </script>

    </th:block>

</th:block>
